.cover-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  box-sizing: border-box;
  position: relative; /* Added for absolute positioning of footer-logos */
}

.header-logo {
  align-self: flex-end;
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
}

.report-title-section {
  display: flex;
  align-items: baseline;
}

.report-title {
  font-size: 2.5em;
  color: #000000; /* Dark blue */
  margin: 0;
}

.separator {
  font-size: 2.5em;
  color: #000000; /* Dark blue */
  margin: 0 10px;
}

.report-subtitle {
  font-size: 1.8em;
  color: rgb(255, 204, 0);  /* Light blue */
  margin: 0;
}

.title-underline {
  width: 100%;
  border: none;
  border-top: 2px solid #000000; /* Dark blue */
  margin-bottom: 50px;
}

.tmobile-logo {
  align-self: flex-start;
  margin-left: 10%;
  margin-bottom: 80px;
  font-size: 2em;
  font-weight: bold;
  color: #e20074; /* T-Mobile pink */
}

.report-details {
  align-self: flex-start;
  margin-left: 10%;
  margin-bottom: 150px;
  text-align: left;
}

.detail-row {
  display: flex;
  margin-bottom: 5px;
}

.detail-label {
  font-weight: bold;
  width: 100px;
  color: #333;
}

.detail-value {
  color: #000080; /* Dark blue */
}

.footer-logos {
  position: absolute; /* Changed to absolute positioning */
  bottom: 50px; /* Adjusted to move to the bottom */
  left: 50px; /* Adjusted to move to the left */
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  align-items: start; /* Center items horizontally */
  gap: 5px; /* Reduced gap for vertical stacking */
  margin-bottom: 50px;
  margin-left: 70px;
}

.footer-logos p {
  font-size: 0.8em;
  color: #777;
}

.footer-text {
  margin-left: 5px;
  font-size: 0.9em;
  color: #555;
}

@media print {
  .cover-title{
    font-size: 30px !important;
  }
}