/* Restricted_Report_Style.css */

@media print {
  /* Ensure the cover page is visible when printing */
  /* .cover-page {
    display: none !important;
  } */

  /* General print styles for other pages */
  body {
    font-family: "Times New Roman", Times, serif;
    font-size: 12pt;
  }

  /* Set page margins for printing */
  @page {
    margin: 0.8in 1in 0.8in 1in; /* Top, Right, Bottom, Left - Ensures 1in left/right margin */
  }

  .page-content {
    padding-top: 0.8in; /* Space for header */
    padding-left: 1in; /* Apply left margin as padding */
    padding-right: 1in; /* Apply right margin as padding */
    page-break-after: always;

  }

  /* Ensure content breaks correctly across pages */
  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
  }

  p {
    page-break-inside: avoid;
  }

  pre, blockquote {
    page-break-inside: avoid;
  }

  table {
    page-break-inside: avoid;
  }

  /* Remove any background colors or images for print */
  * {
    background: transparent ;
    color: black ;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* Show URLs for links */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* Hide elements not relevant for print */
  .no-print {
    display: none !important;
  }
  .page-break{
    page-break-after: always;
  }
}

.device-info-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}

.device-info-table th,
.device-info-table td {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
}

.device-info-table th {
  background-color: #f2f2f2;
}

.performance-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
  font-size: 10pt; /* Smaller font size for table content */
}

.performance-table th,
.performance-table td {
  border: 1px solid #ccc; /* Lighter border for data cells */
  padding: 6px; /* Slightly less padding */
  text-align: center;
}

.performance-table thead th {
  background-color: #71777c; /* Darker grey for header */
  color: white;
  font-weight: bold;
  text-align: center; /* Center align header text */
  vertical-align: middle; /* Vertically align header text */
}

.performance-table tbody tr:nth-child(odd) {
  background-color: #f8f9fa; /* Light grey for odd rows */
}

.performance-table tbody tr:nth-child(even) {
  background-color: #ffffff; /* White for even rows */
}

.performance-table td:first-child {
  font-weight: bold; /* Make device names bold */
}

.performance-table td:last-child {
  text-align: center; /* Center align P-Value */
}
