/* LegalPage.module.css */
@media print {
  .legalImage {
    bottom: 20px; /* Adjust as needed for desired bottom margin */
    right: 20px; /* Adjust as needed for desired right margin */
    width: 30%; /* Scale down to 50% of its original size */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 70px;
    margin-right: 70px;
  }
}